{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Cambia la tua password{% endblock title %}

{% block content %}
    <h1 class="my-5">Cambia la tua password</h1>
    <p class="my-5">Inserisci la tua vecchia password vecchia per ragioni di sicurezza. Aggiungi poi la nuova password inserendola due volte nei campi sottostanti.</p>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-success my-5" type="submit" value="cambia la mia password">
    </form>    
{% endblock content %}